# Copyright (C) 2023 Gramine contributors
# SPDX-License-Identifier: BSD-3-Clause

# Hello World manifest file example

libos.entrypoint = "/reuse"
loader.log_level = "{{ log_level }}"

loader.env.LD_LIBRARY_PATH = "/lib"
loader.env.GRAMINE_SERVERLESS_CHECKPOINT = "1"

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "/reuse", uri = "file:reuse" },
]